[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymysql = "*"
cryptography = "*"
flask-bcrypt = "*"
jsonify = "*"
nltk = "*"
textblob = "*"
googletrans = "*"

[dev-packages]

[requires]
python_version = "3.9"
